

.header{
  background-color: rgb(199, 96, 82);
  
}

.nav-links{
  text-align: center;
}
.nav-links a{
  color: snow;

}

.nav-links a:hover{
  color: snow;
  
}


.fonte2 {
  font-family: 'Alex Brush', cursive;
  font-family: 'Arsenal', sans-serif;
}